@using Alife.Abstractions
@using Alife.Modules.Context
@inject IJSRuntime JsRuntime

<Modal Title="对话窗口"
       Visible="Visible"
       VisibleChanged="OnVisibleChanged"
       MaxBodyHeight="90vh"
       BodyStyle="display:flex;flex-direction:column;gap:12px"
       Footer="null"
       MaskClosable="false"
       Maximizable="true">
    <Flex Style="height: 100%;width: 100%; flex: 1; overflow-y: scroll; "
          Direction="FlexDirection.Vertical"
          Gap="@(FlexGap.Small)"
          Id="messageArea">
        @if (Context.GetMessages().Any() == false)
        {
            <Empty>
                <DescriptionTemplate>
                    <Text>暂无聊天信息</Text>
                </DescriptionTemplate>
            </Empty>
        }
        else
        {
            @foreach (DialogItem message in Context.GetMessages())
            {
                <div style="width: fit-content;@(message.isUser ? "align-self:end" : "")">
                    <Alert
                        Message="@message.tool"
                        Description="@message.content"
                        Type=@(message.isUser ? AlertType.Info : AlertType.Success)>
                        <ChildContent>
                            <Flex Direction="FlexDirection.Vertical" Gap="FlexGap.Small">
                                @if (isHiding.GetValueOrDefault(message) == false)
                                {
                                    <AntDesign.Text Style="white-space: pre-wrap;">
                                        @message.content
                                    </AntDesign.Text>
                                }
                                @if (message.isDefaultHiding)
                                {
                                    if (isHiding.GetValueOrDefault(message))
                                    {
                                        <Button Type="@(ButtonType.Primary)"
                                                OnClick="@(() => isHiding[message] = false)">
                                            <Icon Type="arrows-alt" Theme="IconThemeType.Outline"/>
                                            展开内容
                                        </Button>
                                    }
                                    else
                                    {
                                        <Button Type="@(ButtonType.Primary)"
                                                OnClick="@(() => isHiding[message] = true)">
                                            <Icon Type="shrink" Theme="IconThemeType.Outline"/>
                                            收起内容
                                        </Button>
                                    }
                                }
                                @if (message.isInputting)
                                {
                                    <AntDesign.Text Disabled>
                                        等待中
                                        <Icon Type="@IconType.Outline.Loading"/>
                                    </AntDesign.Text>
                                }
                            </Flex>
                        </ChildContent>
                    </Alert>
                </div>
            }
        }
    </Flex>
    <Flex Direction="FlexDirection.Horizontal" Gap="@(FlexGap.Small)">
        <Input @bind-Value="inputText" OnPressEnter="OnSend"></Input>
        <Button Type="@(ButtonType.Primary)" OnClick="OnSend">发送</Button>
    </Flex>
</Modal>


<script type="text/javascript">
    window.scrollMessageArea = () => {
        setTimeout(() => {
            element = document.getElementById("messageArea");
            element.scrollTop = element.scrollHeight;
        }, 10);
    }
</script>

@code {
    [Parameter] public DialogContext Context { get; set; } = null!;
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    string inputText = "";
    Dictionary<DialogItem, bool> isHiding = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        isHiding = new Dictionary<DialogItem, bool>();
        Context.MessageAdded += OnMessageAdded;
        Context.MessageUpdated += OnMessageUpdated;
    }
    public void Dispose()
    {
        Context.MessageAdded -= OnMessageAdded;
        Context.MessageUpdated -= OnMessageUpdated;
    }

    void OnSend()
    {
        if (string.IsNullOrWhiteSpace(inputText))
            return;

        string text = inputText;
        inputText = "";
        Context.AddMessage(new DialogItem() { content = text, isUser = true });
    }
    void OnVisibleChanged(bool obj)
    {
        Visible = obj;
        VisibleChanged.InvokeAsync(obj);
    }
    void OnMessageAdded(DialogItem obj)
    {
        if (obj.isDefaultHiding)
            isHiding[obj] = true;

        InvokeAsync(() => {
            StateHasChanged();

            if (obj is { isDefaultHiding: false, tool: null })
                JsRuntime.InvokeVoidAsync("scrollMessageArea");
        });
    }
    void OnMessageUpdated(DialogItem obj)
    {
        InvokeAsync(() => {
            StateHasChanged();

            if (obj is { isDefaultHiding: false, tool: null } && obj == Context.GetMessages().Last())
                JsRuntime.InvokeVoidAsync("scrollMessageArea");
        });
    }
}
